*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    .container-body{
        background:  linear-gradient(170deg,#0f3443,#34e69f);
    }
.espacio{
    height: 100px;
}
.espaciomini{
    height: 20px;
}
/* NAVBAR */

.navbar{
    font-family: 'Roboto';
}
.navbar-nav{
    font-family: 'Lora';
    
    }
/* HEADER */
.container a{
text-decoration: none;
color: black;

transition: 1s;
}
.container a:hover{
    color: beige;
    background:  linear-gradient(170deg,#0f3443,#34e69f);
border-radius: 20px;
}
    .btn-close{
        transition: 1s;
    }
    .conteiner{
        text-decoration: none;
        color: #000;
        background-image: url(https://a-static.besthdwallpaper.com/earth-elemental-legends-of-runeterra-league-of-legends-lol-wallpaper-2304x864-72337_86.jpg);
        font-family: 'Lora';
        font-weight: 600;
        border: 1px solid #000;
        border-radius: 20px;
        
    }
/* CARRITOOOOO */
     .carritoEntero{
      background-image: url(https://img.freepik.com/vector-premium/patron-carro-compras-transparente-sobre-fondo-blanco-icono-carrito-compras-simple-diseno-creativo-puede-utilizar-papel-tapiz-fondo-pagina-web-textil-impresion-ui-ux_159242-3135.jpg?w=2000);
      border-radius: 15px;
    }
    .carritoEntero h2{
      color: black;
    }
     .carritoEntero .carritoCompras{
      border-radius: 20px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-weight: 700;
      color: black;
    }
    .carritoEntero .productos-carrito{
      color: black;
      font-family: "Roboto";
      font-weight: 700;
      

    }
    .carritoEntero .totalCarrito{
      color: black;
      font-weight: 700;
      font-family: "Roboto";
      border: black 2px solid;
      border-radius: 10px;
      width: 100px;
    }
    .carritoEntero .btn-eliminarcarrito{
      width: 50%;
      border-radius: 10px;
      background-color: black;
      color:white;
      font-family: "Roboto";
      font-weight: 700;
      
    }
    /* CARRITO FIN */
    /* Footer */
    .contenedor-3{
    background-color: #222222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
    .footer-text{
    
        width: 90%;
        height: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;    
     }
     .box1 {
        
        width: 40%;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 50px;
    
     }
    
     .box__2 , .box__3, .box4{
       
        width: 20%;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 50px;         
     }
     .box1 h3, .box__2 h3 ,.box__3 h3 , .box4 h3{
        font-size: 28px;
        margin: 25px 0;               
     }
     .box1 p{
        font-size: 20px;
    
     }
     .box__2 a, .box__3 a, .box4 a{
        text-decoration: none;
        color: #fff ;
        margin: 5px 0;
        font-size: 20px;          
     }
        
     .rs{         
        width: 100%;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 25px 0;          
     }
     .rs img{
        object-fit: cover;
        height: 85%;
        margin-right: 15px;         
     }
          
     .pie{        
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #3c3c3c;
    
     }
     .pie p{
        font-size: 18px;
     }
     .pie a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
     }
     /* fin footer */
     /* cartas home */
     .card .card-body p{
        color: #fff;
        font-family: 'Lora';
     }
      .card .card-body .btn{
        background-color: #34e69f;
        font-family: 'Roboto';
        color: #fff;
        
     }
     .card .card-body .btn a{
        text-decoration: none;
        color: #fff;
        transition: 1s;
     }
     .card .card-body .btn a:hover{
        color: #000;
        font-family: 'Lora';
     }
     /* TIENDA */
    .clearfix{
        display: grid;
        grid-template-columns:1fr  1fr;
    }
    .clearfix p{
        color: #fff;
        font-family: 'Roboto';
        font-weight: 600;
    }
    .clearfix img{
        width: 80%;
       
    }
    .clearfix h1{
        color: #fff;
        font-family: 'Roboto';
        font-weight: 600;
    }
    /* SECCION NOSOTROS */
    .container .row .col{
        width: 100%;
        font-family: 'Lora';
        font-weight: 600;
        height: 100%;
        color: #fff;
    }
    /* Contacto */
    .titulo{
        position: relative;
        width: 100%;
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .contactForm{              
        position: absolute;
        display: grid ;
        grid-template-columns:repeat(auto-fit, minmax(500px, 1fr 1fr ));
        gap: 20px;
        padding: 0 30px;
        width: 90%;
        height: 100%;
        background:  linear-gradient(170deg,#0f3443,#34e69f);
        box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
        border-radius: 30px;               
    }
    .text-formulairo{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 85%;
        margin-left: 30px;
        }
        form{
            width: 80%;
            height: 100%;
         }
         .texto-contacto{
            color: black; 
            margin-bottom: 20px;
         }
         .h2-form{
            color: black;
            font-size: 2em;
            margin-bottom: 10px;
         }
         .p-form{
            color: black;
            line-height: 1.5;  
         }
         .inputBox{
            display: flex;
            flex-direction: column;
            margin-bottom: 15px;
         }
         label{
            color: black;
            font-weight: 700;    
         }
         input[type="text"]{
            border: none;
            background: #cbebfb;
            padding: 10px;
            border-radius: 15px;
            color: #1766a3;
         }
         input[type="Email"]{
            border: none;
            background: #cbebfb;
            padding: 10px;
            border-radius: 20px;
            color: #1766a3;
         }
         textarea{
            border: none;
            background: #cbebfb;
            padding: 10px;
            border-radius: 15px;
            color: #1766a3;
            resize: none;
         }
         /* INPUT FOCUS */
         input[type="text"]:focus{
            outline: 2px solid #1766a3;
         }
         input[type="Email"]:focus{
            outline: 2px solid #1766a3;
         }
         textarea:focus{
            outline: 2px solid #1766a3;
         }
         /* fin focus */
         input[type="submit"]{
            background: #1766a3;
            display: inline-block;
            text-align: center;
            width: 250px;
            padding: 10px;
            border-radius: 15px;
            color: #fff;
            letter-spacing: 1px;
            border: none;
            cursor: pointer;
            box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
            transition: 0.3s;
         }
         input[type="submit"]:hover{
            background: #1766a3;
            color: #0b426c;
         }
         .info-contacto{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
         }

/* INFO ITEMS */
.card-group .card .card-body h5{
   color: #fff;
   font-family: 'Lora';
}

.card-group .card {
   border: 4px solid black;
}





 @media (   max-width:768px ) {
   /* Footer */
.contenedor-3{
    width: 100%;
}               
.lorem__box1{            
    display: none;
    }
.box__2 a , .box__3 a {
    display: none;         
    }
.box__2 h3 ,.box__3 h3{
    display: none;             
    }
                           
                

.footer-text{
    width: 100%;
}

    footer{
        display: grid;
         padding: 20px ;
         }
                             
                           
.pie{
    text-align: center;
}
.texto__ocultMobile{
    display: none;
                                                  
 }
 /* Foto tienda */
 .clearfix{
    display: grid;
    grid-template-columns: 1fr;
 }
 .clearfix img{
    width: 100%;

 }
 /* Contacto  */
 .titulo{
    margin-left: 0px;
    width: 100%;  
 }
 .contactForm{ 
    margin-left: 0px;
    width: 100%;
    height:100%;
    place-items: center;
 }
 .text-formulairo{ 
    margin-left: 0px;
    width: 100%;
    height: 100%;
 }
 form{
    width: 90%;
    height: 100%;
 }
 .p-form{
    display: none;
 }
 .h2-form{
    width: 100%;
  }
}